
  <link rel="stylesheet" href="/src/styles/pages.style/notifications.style.css" />

    <div class="notifications-section">
        <div class="notifications-container">

        </div>
    </div>

        <!-- Friends Section -->
        <div class="friends-section">
            <!-- Barra de búsqueda -->
            <div class="search-bar">
                <input type="text" class="search-input" placeholder="Buscar...">
            </div>

            <!-- Contenedor de amigos -->
            <div class="friends-container">
                <div class="friends-header">
                    <h2 class="friends-title">AMIGOS</h2>
                </div>
                <div class="friends-list">
                    <div class="friend-item">
                        <div class="friend-info">
                            <div class="friend-avatar">
                                <img src="./src/images/jefferson.png" alt="Tomas">
                            </div>
                            <div class="friend-details">
                                <div class="friend-name">TOMAS RESTREPO</div>
                            </div>
                        </div>
                        <div class="chat-icon">💬</div>
                    </div>
                    
                    <div class="friend-item">
                        <div class="friend-info">
                            <div class="friend-avatar">
                                <img src="./src/images/jefferson.png" alt="Zamir">
                            </div>
                            <div class="friend-details">
                                <div class="friend-name">ZAMIR ESTRADA</div>
                            </div>
                        </div>
                        <div class="chat-icon">💬</div>
                    </div>
                    
                    <div class="friend-item">
                        <div class="friend-info">
                            <div class="friend-avatar">
                                <img src="./src/images/jefferson.png" alt="Karlos">
                            </div>
                            <div class="friend-details">
                                <div class="friend-name">KARLOS CAJIBIOY</div>
                            </div>
                        </div>
                        <div class="chat-icon">💬</div>
                    </div>
                    
                    <div class="friend-item">
                        <div class="friend-info">
                            <div class="friend-avatar">
                                <img src="./src/images/jefferson.png" alt="Mateo">
                            </div>
                            <div class="friend-details">
                                <div class="friend-name">MATEO CASTAÑEDA</div>
                            </div>
                        </div>
                        <div class="chat-icon">💬</div>
                    </div>
                    
                    <div class="friend-item">
                        <div class="friend-info">
                            <div class="friend-avatar">
                                <img src="./src/images/jefferson.png" alt="Valeria">
                            </div>
                            <div class="friend-details">
                                <div class="friend-name">VALERIA PEREZ</div>
                            </div>
                        </div>
                        <div class="chat-icon">💬</div>
                    </div>
                </div>
            </div>
        </div>
    </div>